<div class="container">
    <div class="container-fluid mt-5 d-flex">
        <span class="text-info fw-bold fs-1">Organizaciones</span>
    </div>
    <div class="container mt-4">
        <table class="table border-secondary">
            <thead>
                <tr>
                    <th class="col">
                        <div class="bg-light rounded-pill p-1 px-2">#</div>
                    </th>
                    <th class="col-1">
                        <div class="bg-light rounded-pill p-1 ps-2">Estado</div>
                    </th>
                    <th class="col-4">
                        <div class="bg-light rounded-pill p-1 ps-2">Nombre de Org.</div>
                    </th>
                    <th class="col-1">
                        <div class="bg-light rounded-pill p-1 ps-2">Fecha</div>
                    </th>
                    <th class="col-2">
                        <div class="bg-light rounded-pill p-1 ps-2">Opciones</div>
                    </th>
                    <th class="col-2">
                        <div class="bg-light rounded-pill p-1 ps-2">N° Expediente</div>
                    </th>
                    <th class="col-2">
                        <div class="bg-light rounded-pill p-1 ps-2">Resolución</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col">1</td>
                    <td class="col">Actualización</td>
                    <td class="col">Organización vaso de Leche</td>
                    <td class="col">10/10/2002</td>
                    <td class="col">
                        <button class="text-light rounded border-0 ms-1 boton">Detalles</button>
                        <button class="text-light rounded border-0 ms-1 boton">Eliminar</button></td>
                    <td class="col">Expediente - 00001</td>
                    <td class="col"><input type="file" style="width: 100%;" name="sibr" ></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>