<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar bg-light">

        <div class="content_left">
            <button class="ms-2" mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
                <i class="fa-light fa-pipe fa-lg mx-2"></i>
            </button>
            <img src="https://media.discordapp.net/attachments/1042520483419148311/1042536543044243476/NoPath.png"
                style="width: 8%;" alt="Lamb Logo UPeU" [routerLink]="['/login']">
        </div>

        <div class="content_right">
            <div class="app_foto_user dropdown">
                <div class="app_name_user">
                    <span>{{ usuario.nombre }}</span>
                </div>
                <i class="fa-light fa-pipe fa-lg ms-1"></i>
                <img class="mx-1" src="https://i.ibb.co/3k4cN4z/rhaenyra.jpg">
                <div class="dropdown-content">
                    <a class="content_actions">
                        <i class="fa-solid fa-user"></i>
                        <span>Perfil</span>
                    </a>
                    <a class="content_actions" (click)="cerrarSesion()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Cerrar sesión</span>
                    </a>
                </div>
            </div>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" opened="true" class="sidenav_items bg-success">
            <mat-nav-list class="list_items">

                <span class="fw-bold text-center fs-5 mt-2 text-light">{{ usuario.rol }}</span>
                <hr>
                <li class="nav-item fs-light" *ngIf="usuario.rol == 'ADMIN'">
                    <a routerLink="administrar-categorias" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-mug-hot"></i>
                        <span>Administrar categorias</span>
                    </a>
                    <hr class="hr_divide">
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'USER'">
                    <a routerLink="administrar-productos" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Administrar productos</span>
                    </a>
                    <hr class="hr_divide">
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'ADMIN'">
                    <a routerLink="cuentas" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Cuentas</span>
                    </a>
                    <hr class="hr_divide" />
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'ADMIN'">
                    <a routerLink="requisitos" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Requisitos</span>
                    </a>
                    <hr class="hr_divide" />
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'ADMIN'">
                    <a routerLink="parametros" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Parámetros</span>
                    </a>
                    <hr class="hr_divide" />
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'MEPA'">
                    <a routerLink="solicitudes" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Solicitudes</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'MEPA'">
                    <a routerLink="expedientes" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Expedientes</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'Sub Gerencia de Participacion Vecinal'">
                    <a routerLink="expedientesgpv" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Expedientes</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'Sub Gerencia de Participacion Vecinal'">
                    <a routerLink="requisitosgpv" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Requisitos</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="usuario.rol == 'Gerencia de Desarrollo Social'">
                    <a routerLink="organizaciones" routerLinkActive="active-link" class="group_items">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Organizaciones</span>
                    </a>
                </li>
                <!-- <li class="nav-item" *ngFor="let opciones of opciones_child">
                    <a [routerLink]="[opciones.url]" routerLinkActive="active-link" class="group_items nav-link">
                        <i class="{{ opciones.icon }}"></i>
                        <span>{{ opciones.submenu }}</span>
                    </a>
                    <hr class="hr_divide" />

                    [routerLink]="['/login']"
                </li> -->


            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content class="sidenav_content">
            <div class="content_outlet">
                <router-outlet>
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>