
.asd{
    
    padding-top: 10px;
    padding-bottom: 50px;
    background-image: url("https://media.discordapp.net/attachments/984970824282955818/994419070436904980/unknown.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

}

.container{
    height: -90;
    width: 100%;
    max-width: 370px;
    padding: 10px;
    margin: auto;
    background-color: white;
    
}

.content_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

mat-form-field{
    width: 250px;
}