@import '-angular/material/theming';

@include mat-core ();

$my-primary-color: (
    200 : #9cbb8e,
    500 : #38761d,
    700 : #2b6315,
    contrast: (
        200 : #000000,
        500 : #ffffff,
        700 : #ffffff,
    )
);
$my-accent-color: (
    200 : #9cbb8e,
    500 : #38761d,
    700 : #2b6315,
    contrast: (
        200 : #000000,
        500 : #ffffff,
        700 : #ffffff,
    )
);
$my-warn-color: (
    200 : #9cbb8e,
    500 : #38761d,
    700 : #2b6315,
    contrast: (
        200 : #000000,
        500 : #ffffff,
        700 : #ffffff,
    )
);

$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

$my-theme: mat-light-teme((
    color: (
        primary: $my-palette-primary,
        accent: $my-palette-accent,
        warn: $my-palette-warn
    )
));

@include angular-material-theme($my-theme);