
<app-navbarprin></app-navbarprin>


<br>
<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.discordapp.net/attachments/1042520483419148311/1042532490784538785/Grupo_48.png?width=960&height=343"
                    height="100%" width="100%">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Plataforma Virtual GEOS</h1>
                        <p>Registre tu Organizacion Social de forma virtual, rápida y sencilla</p>
                        <p><a class="btn btn-lg btn-success" href="#">Inicia ya!</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.discordapp.net/attachments/1042520483419148311/1042534894326251610/Web_1920_20.png?width=960&height=343"
                    height="100%" width="100%">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Plataforma Virtual GEOS</h1>
                        <p>Sin papeleo alguno, descargue los documentos a subir con un simple click!</p>
                        <p><a class="btn btn-lg btn-success" href="#">Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.discordapp.net/attachments/1042520483419148311/1042535310409605140/Web_1920_21.png?width=960&height=343"
                    height="100%" width="100%">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Plataforma Virtual GEOS</h1>
                        <p>Obtén los derechos y desarrollo individual y colectivo que tu organizacion necesita</p>
                        <p><a class="btn btn-lg btn-success" href="#">Inicia ya!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container marketing">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">GeOS <span class="text-muted">Gestion de Organizaciones
                        Sociales</span></h2>
                <p>Registrar o actualizar tu organizacion social nunca facil con GeOS, a cargo de la municipalid de
                    Chaclacayo
                </p>
                <p>
                    Dentro de lo establecido en la Ordenanza 1762-2013-MML, se describen los requisitos y el
                    procedimiento para el reconocimiento de las organizaciones sociales y sus representantes, así como
                    los actos que se realicen con posterioridad a su inscripción.
                </p>
            </div>
            <div class="col-md-5">
                <img src="https://media.discordapp.net/attachments/1042520483419148311/1042564789957824533/seguro-desempleo.png?width=540&height=468"
                    height="100%" width="100%">

            </div>
        </div>
    </div>

    <br>

    <div class="container-xxl py-5 fondo">
        <div class="container py-5">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h3 class="display-6">Pasos para Registrar/Actualizar tu Organizacion Social </h3>
                <p class="text-sucess fs-5 mb-5">En simples pasos </p>
            </div>
            <div>
                <div class="container d-flex">
                    <div>
                        <div class="bg-light rounded-circle my-4">
                            <div class="btn btn-outline-dark rounded-circle border-dark"
                                style="width: 100px; height: 100px">
                                <i class="fa-solid fa-pencil mt-4 fs-2"></i>
                            </div>
                        </div>
                        <h6>Crear Cuenta</h6>
                    </div>
                    <div class="bg-secondary rounded linea" style="width: 100px; height: 3px"></div>
                    <div>
                        <div class="bg-light rounded-circle my-4">
                            <div class="btn btn-outline-dark rounded-circle border-dark"
                                style="width: 100px; height: 100px">
                                <i class="fa-solid fa-user mt-4 fs-2"></i>
                            </div>
                        </div>
                        <h6>Iniciar Sesión</h6>
                    </div>
                    <div class="bg-secondary rounded linea" style="width: 100px; height: 3px"></div>
                    <div>
                        <div class="bg-light rounded-circle my-4">
                            <div class="btn btn-outline-dark rounded-circle border-dark"
                                style="width: 100px; height: 100px">
                                <i class="fa-solid fa-upload mt-4 fs-2"></i>
                            </div>
                        </div>
                        <h6>Subir Docs</h6>
                    </div>
                    <div class="bg-secondary rounded linea" style="width: 100px; height: 3px"></div>
                    <div>
                        <div class="bg-light rounded-circle my-4">
                            <div class="btn btn-outline-dark rounded-circle border-dark"
                                style="width: 100px; height: 100px">
                                <i class="fa-solid fa-envelope mt-4 fs-2"></i>
                            </div>
                        </div>
                        <h6>Enviar Soli</h6>
                    </div>
                    <div class="bg-secondary rounded linea" style="width: 100px; height: 3px"></div>
                    <div>
                        <div class="bg-light rounded-circle my-4">
                            <div class="btn btn-outline-dark rounded-circle border-dark"
                                style="width: 100px; height: 100px">
                                <i class="fa-solid fa-magnifying-glass mt-4 fs-2"></i>
                            </div>
                        </div>
                        <h6>Eval de Docs</h6>
                    </div>
                    <div class="bg-secondary rounded linea" style="width: 100px; height: 3px"></div>
                    <div>
                        <div class="bg-light rounded-circle my-4">
                            <div class="btn btn-outline-dark rounded-circle border-dark"
                                style="width: 100px; height: 100px">
                                <i class="fa-solid fa-thumbs-up mt-4 fs-2"></i>
                            </div>
                        </div>
                        <h6>Aprob Final</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marketing py-5">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h1 class="display-6 fw-semibold">Requisitos</h1>
                    <p class="text-success fs-6 mb-5">CONOCE CUALES SON LOS DOCUMENTOS NECESARIOS PARA REGISTRAR A TU
                        ORGANIZACIÓN SOCIAL</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item wow fadeInUp " data-wow-delay="0.1s"
                                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        Solicitud dirigida a la Gerencia de Participacion Vecinal
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Solicitud dirigida a la Gerencia de Participación Vecinal con atención a la
                                        Subgerencia de Organizaciones Vecinales, o la que haga sus veces en las
                                        Municipalidades Distritales, debiendo señalar en dicha solicitud: nombre y
                                        dirección de sus organizaciones, así como el pedido expreso de reconocimiento y
                                        registro.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp " data-wow-delay="0.2s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Acta de fundación o de Constitución
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Acta de fundación o de Constitución.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s"
                                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Estatuto y Acta de aprobación
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Estatuto y Acta de aprobación
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s"
                                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                                        aria-controls="collapseFour">
                                        Acta de elección del Órgano Directivo
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Acta de elección del Órgano Directivo
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s"
                                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Nómina de los miembros del órgano directivo
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Nómina de los miembros del órgano directivo, cada uno de sus integrantes.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s"
                                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        Nómina de los miembros de la Organización Social
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Nómina de los miembros de la Organización Social.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.7s"
                                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        Plano o croquis referencial de la ubicación del local
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Plano o croquis referencial de la ubicación del local o domicilio institucional
                                        de la organizacion.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s"
                                style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed bg-success fw-bold rounded" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        Plano o croquis del radio de acción de la organización
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse bg-light"
                                    aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Plano o croquis del radio de acción de la organización
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="container text-center">
            <h2>
                MODELOS
            </h2>

            <p>
                Modelos de documentos a adjuntar en sus solicitudes.
            </p>
        </div>
        <br>
        <div class="container">

            <table class="table table-striped table-secondary">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre de Modelo</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Modelo para Llenar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Solicitud para registro nuevo de organizacion</td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_SOLICITUD_DE_NUEVA_ORGANIZACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>
                        </td>
                        <td>
                            <a target="_blank" href="http://ruos.gpvlima.com/modelos/MODELO_SOLICITUD_NUEVO_GPV.docx">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Solicitud para actualizacion de organizacion</td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_SOLICITUD_ACTUALIZACION_GPV.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>
                        </td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_SOLICITUD_ACTUALIZACION_GPV.docx">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Acta de elección del órgano directivo</td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ELECCION_ORGANO_DIRECTIVO.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>
                        </td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_DE_ACTA_DE_ELECCION_DE_MIEMBROS_DE_LA_JUNTA_DIRECTIVA.docx">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Estatuto y acta de aprobación</td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ESTATUTO_ACTA_APROBACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>



                        </td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ESTATUTO_ACTA_APROBACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>


                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Acta de fundación o de contitución</td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>



                        </td>
                        <td>

                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>


                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Plano de acción de la organización</td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>



                        </td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_ACTA_CONSTITUCION_ASOCIACION.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>


                        </td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Nómina de los miembros de la organización social</td>
                        <td>

                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_NOMINA_ASOCIADOS_TOTALIDAD.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>


                        </td>
                        <td>
                            <a target="_blank"
                                href="http://ruos.gpvlima.com/modelos/MODELO_NOMINA_ASOCIADOS_TOTALIDAD.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Nómina de los miembros de la organización directivo</td>
                        <td>
                            <a target="_blank" href="http://ruos.gpvlima.com/modelos/MODELO_NOMINA_JUNTA_DIRECTIVA.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/pdf.png"> </a>
                        </td>
                        <td>
                            <a target="_blank" href="http://ruos.gpvlima.com/modelos/MODELO_NOMINA_JUNTA_DIRECTIVA.pdf">
                                <img style="width: 30px" src="http://ruos.gpvlima.com/images/word.png"> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="container">

        <p>&copy; 2022 GeOS, G5 &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos y condiciones</a></p>
    </footer>
</main>
