<main style="background-image: url(https://media.discordapp.net/attachments/984970824282955818/994419070436904980/unknown.png); background-size: cover;
background-repeat:no-repeat;
background-position: center center;
padding-top: 3.9%;
    padding-bottom: 4%;">
    <form class="form-registro">
        <div class="row">
            <img class="my-2 col-2"
                src="https://media.discordapp.net/attachments/984970824282955818/994423074449539172/unknown.png"
                style="margin-left: 41%; ">
            <h2 class="mb-5 text-center">CREA TU CUENTA</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>DNI</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Nombres</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Apellido P</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Apellido M</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Correo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Dirección</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-danger col mx-1" type="submit" [routerLink]="['']">Cancelar</button>
                <button class="btn btn-success col mx-1" type="submit">Registrarme</button>
            </div>
        </div>









    </form>
</main>