<main id="asd">
    <form class="form-registro" >
        <div class="row">
            <div class=" col-sm-6 ">
            <img class="mb-4" src="https://media.discordapp.net/attachments/984970824282955818/994423074449539172/unknown.png" alt="" width="142" height="92">
            </div>
            <div  class=" col-sm-6 " style="text-align: center;" >
            <h1 class="h3 mb-3 font-weight-normal">CREA TU CUENTA</h1>
            </div>
        </div>
        <br>
        <br>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label " >DNI*</span>
                    <input class="form-control" type="number" placeholder="DNI" required  >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label  ">NOMBRES*</span>
                    <input class="form-control" type="text" placeholder="Nombres Completos"required>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label  ">APELLIDO PATERNO*</span>
                    <input class="form-control" type="text" placeholder="Apellido Paterno" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label ">APELLIDO MATERNO*</span>
                    <input class="form-control" type="text" placeholder="Apellido Materno"required>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label  ">CORREO*</span>
                    <input class="form-control" type="email" placeholder="Correo">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label  ">TELEFONO*</span>
                    <input class="form-control" type="text" placeholder="Telefono" required>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label ">FEC. NACIMIENTO</span>
                    <input class="form-control" type="date" required >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label   ">CONTRASEÑA</span>
                    <input class="form-control" type="password" placeholder="Contraseña" required>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                    <span class="form-label ">DIRECCION*</span>
                    <input class="form-control" type="text" placeholder="Direccion" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                <div class="form-group  text-ubicacion">
                     <button class="btn btn-lg btn-success btn-block" type="submit">REGISTRARME</button>
                </div>
            </div>
                </div>
                </div>
            </div>
    
        
        
        
        
        
        
        

    </form>
</main>