<div class="container">
    <div class="container-fluid mt-5 d-flex">
        <span class="text-info fw-bold fs-1">Requisitos</span>
        <div class="derecha">
            <button class="bg-info rounded-circle border-0 text-light pt-1 ms-2 text-center">
                <i class="fa-solid fa-plus fs-2"></i>
            </button>
        </div>
    </div>
    <div class="container mt-4">
        <table class="table border-dark">
            <thead>
                <tr>
                    <th class="col">
                        <div class="bg-light rounded-pill p-1 px-2">#</div>
                    </th>
                    <th class="col-6">
                        <div class="bg-light rounded-pill p-1 ps-2">Nombre de Requisito</div>
                    </th>
                    <th class="col-2">
                        <div class="bg-light rounded-pill p-1 ps-2">Docs. Modelos</div>
                    </th>
                    <th class="col-2">
                        <div class="bg-light rounded-pill p-1 ps-2">Estado</div>
                    </th>
                    <th class="col-2">
                        <div class="bg-light rounded-pill p-1 ps-2">Opciones</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col text-center">1</td>
                    <td class="col">Solicitud para registro nuevo de actualización</td>
                    <td class="col"><button class="text-light rounded border-0 mxng-2 boton col-5">PDF</button><button
                            class="text-light rounded border-0 ms-2 boton col-5">Word</button></td>
                    <td class="col text-center"><button class="bg-success rounded-circle mt-2 border-0"
                            style="width:11px; height:11px"></button>Activo</td>
                    <td class="col"><button class="text-light rounded border-0 ms-1 boton">Detalles</button><button
                            class="text-light rounded border-0 ms-1 boton">Eliminar</button></td>
                </tr>
                <tr>
                    <td class="col text-center">1</td>
                    <td class="col">Solicitud para registro nuevo de actualización</td>
                    <td class="col"><button class="text-light rounded border-0 mxng-2 boton col-5">PDF</button><button
                            class="text-light rounded border-0 ms-2 boton col-5">Word</button></td>
                    <td class="col text-center"><button class="bg-success rounded-circle mt-2 border-0"
                            style="width:11px; height:11px"></button>Activo</td>
                    <td class="col"><button class="text-light rounded border-0 ms-1 boton">Detalles</button><button
                            class="text-light rounded border-0 ms-1 boton">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>