<div class="fondo">
    <div class="container">
        <div class="container-fluid mt-5 d-flex">
            <span class="text-info fw-bold fs-1">Solicitudes</span>
        </div>
        <div class="container mt-4">
            <table class="table border-dark">
                <thead>
                    <tr>
                        <th class="col">
                            <div class="bg-light rounded-pill p-1 px-2">#</div>
                        </th>
                        <th class="col-2">
                            <div class="bg-light rounded-pill p-1 ps-2">N° Expediente</div>
                        </th>
                        <th class="col-1">
                            <div class="bg-light rounded-pill p-1 ps-2">Tipo</div>
                        </th>
                        <th class="col-4">
                            <div class="bg-light rounded-pill p-1 ps-2">Nombre de Org.</div>
                        </th>
                        <th class="col-1">
                            <div class="bg-light rounded-pill p-1 ps-2">Fecha</div>
                        </th>
                        <th class="col-1">
                            <div class="bg-light rounded-pill p-1 ps-2">Docs.</div>
                        </th>
                        <th class="col-2">
                            <div class="bg-light rounded-pill p-1 ps-2">Estado</div>
                        </th>
                        <th class="col-2">
                            <div class="bg-light rounded-pill p-1 ps-2">Opción</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col">1</td>
                        <td class="col"><input class="rounded" type="text" style="width: 100%;"></td>
                        <td class="col">Actualización</td>
                        <td class="col">Organización vaso de Leche</td>
                        <td class="col">10/10/2002</td>
                        <td class="col"></td>
                        <td class="col"><input class="rounded" type="text" style="width: 100%;"></td>
                        <td class="col"><button class="text-light rounded border-0 ms-1 boton">Validar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>