/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hr_divide{
    border: none;
    height: 1px;
    background: #E5E5E5;
}